
/*
** Reset
*/
#admin-pane,
#admin-pane * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  background: transparent;
}

#admin-pane,
#admin-pane .ui-widget {
  font: small "Lucida Grande", Verdana, sans-serif;
  color: #ccc;
}

#admin-pane ul,
#admin-pane li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#admin-pane a {
  font-size: 0.846em;
  color: #fff;
  text-decoration: none;
}

#admin-pane.collapsed {
  display: none;
}

/*
** Container
*/

#admin-pane-content {
  position: fixed;
  z-index: 700;
  top: 65px;
  right: 0;
  width: 280px;
  height: 100%;
  background: #666;
  padding: 10px;
}

#admin-pane-shadow {
  position: fixed;
  z-index: 500;
  top: 65px;
  right: 0;
  width: 300px;
  height: 100%;
  background: #666;
  box-shadow: 0 3px 20px #000000;
}

/*
** Menu tree
*/

#admin-pane .menu-block-admin_pane {
  padding: 10px;
  color: #555;
  background: #fff;
  min-height: 300px;
  overflow: auto;
}

#admin-pane .menu-block-admin_pane li {
  display: block;
  line-height: 16px;
}

#admin-pane .menu-block-admin_pane a,
#admin-pane .menu-block-admin_pane span {
  display: inline-block;
  line-height: 16px;
}

#admin-pane div.menu-block-admin_pane a {
  color: #555;
	max-width: 90%;
  margin-left: 4px;
}

#admin-pane div.menu-block-admin_pane a.active {
  background-color: #ccc;
}

#admin-pane div.menu-block-admin_pane a.unpublished {
  color: #666;
}

#admin-pane .menu-block-admin_pane li {
	margin: 0;
	padding: 0 0 0 9px;
  background: url(images/base-line.png) no-repeat 0 0;
}

#admin-pane .menu-block-admin_pane li.first  {
  background: url(images/tree.png) no-repeat 0 0;
}

#admin-pane .menu-block-admin_pane li li.first  {
  background: url(images/base-line.png) no-repeat 0 0;
}

#admin-pane .menu-block-admin_pane li.last  {
  background: url(images/tree.png) no-repeat 0 -80px !important;
}

#admin-pane .menu-block-admin_pane li span {
	display: inline-block;
	width: 9px;
	height: 16px;
  background: url(images/icons.png) no-repeat -18px bottom;
}

#admin-pane .menu-block-admin_pane li.expanded > span {
	background-position: -9px -16px;
}

#admin-pane .menu-block-admin_pane li.collapsed > span {
  background-position: 0 0;
}

/*
** Local tasks
*/

#admin-pane .local-tasks {
  margin-bottom: 10px;
}

/*
** Actions
*/

#admin-pane ul.actions {
  line-height: 24px;
}

#admin-pane ul.actions li,
#admin-pane ul.actions li a {
  display: block;
  float: left;
}

#admin-pane ul.actions li a {
  border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
  padding: 0 5px;
}

#admin-pane ul.actions li a:focus,
#admin-pane ul.actions li a:hover,
#admin-pane ul.actions li a.active:focus {
  background: #555;
}

#admin-pane ul.actions li a.active:hover,
#admin-pane ul.actions li a.active {
  background: #000;
}

/*
** Tabs
*/

.ui-tabs .ui-tabs-hide {
     display: none;
}

#admin-pane #menu-tabs-tabs {
  line-height: 24px;
}

#admin-pane #menu-tabs-tabs li,
#admin-pane #menu-tabs-tabs li a {
	display: block;
  float: left;
}

#admin-pane #menu-tabs-tabs li {
}

#admin-pane #menu-tabs-tabs li a {
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  padding: 0 5px;
}

#admin-pane #menu-tabs-tabs li.ui-tabs-selected a {
  color: #555;
  background: #fff;
}
